th[role="columnheader"]:not(.no-sort) {
  cursor: pointer;
}

th[role="columnheader"]:not(.no-sort)::after {
  border-color: white transparent;
  border-style: solid;
  border-width: 0.25em 0.25em 0;
  content: "";
  opacity: 0;
  position: relative;
  right: -0.125em;
  top: 0.125em;
  user-select: none;
  visibility: hidden;
}

th[aria-sort="ascending"]:not(.no-sort)::after {
  border-width: 0 0.25em 0.25em;
  top: -1.25em;
}

th[aria-sort]:not(.no-sort)::after {
  opacity: 1;
  visibility: visible;
}
